<nav class="actions">
	<div class="main">
		<a href="./" class="link title">dUy</a>
		<ul class="menu">
			<a ng-href="#/" class="link"><li class="menu_item">Inicio</li></a>
			<a ng-href="#/github" class="link"><li class="menu_item">GitHub</li></a>
			<a ng-href="#/info" class="link"><li class="menu_item">Info</li></a>
		</ul>
		<ul class="contact">
			<a href="https://www.facebook.com/DesarrolloUy" class="link"><li class="">Facebook</li></a>
			<a href="https://github.com/PabloSuarez" class="link"><li class="">GitHub</li></a>
			<a href="mailto:hostsuarezpablo@gmail.com?subject=web: profesional" class="link"><li class="">hostsuarezpablo@gmail.com</li></a>
		</ul>
	</div>
	<div class="menu-x">></div>
</nav>

<script>
	$(function() {
		$('.menu-x').on('click', function () {
			console.log('Entre !')
			$('#js-menu-items').toggleClass('hidden')
		})
	})
</script>
