<div id="js-slider" class="flex_container flex_container-flex-center flex_container-flex-wrap">
	<div class="lienzo">
		<div class="slider">
			<div class="responsive slider_item">
				<div class="responsive_title">
					<h2>Web Responsive</h2>
					<h4>el contenido se adapta a cada pantalla</h4>
				</div>
				<img src="./img/responsive_4.png" alt="" class="img_center responsive_img">
				<p class="slider_text">* Web Responsive ya no es una innovación sino una obligación, tu web se debe ver en todos los dispositivos mobiles y de escritorio.</p>
			</div>
			<div class="responsive slider_item">
				<div class="responsive_title">
					<h2>HTML + CSS + JS</h2>
					<h4>Utilizamos tecnologías actuales con gran comunidad, respaldo e innovación.</h4>
				</div>
				<img src="./img/html-css-js.png" alt="" class="img_center responsive_img"/>
			</div>
		</div>
	</div>
</div>
