<!-- <div class="presentation">
	<div class="presentation_title">
		<h1>DesarrolloUy.com</h1>
	</div>
</div>

<skills-slider></skills-slider>

<div id="js-main" class="flex_container lienzo flex_container-flex-direction-column">
	<div class="js-aside-content flex_container">
		<aside class="aside">
			<div align="center">
				<img class="aside_img_profile" src="./img/Pablo_Suarez.jpeg" alt="Imagen de perfil Pablo Suarez">
			</div>
			<div class="aside_info">
				<h4 class="aside_username">Pablo Suarez</h4>
				<div class="aside_border mobile_no"></div>
				<a class="aside_social_link" href="https://uy.linkedin.com/in/pablosuarezdesarrolloy" target="_blank" alt="Perfil Linkedin">Linkedin</a>
				<a class="aside_social_link" href="https://github.com/PabloSuarez" target="_blank" alt="Perfil Github">Github</a>
				<a class="aside_social_link" href="https://www.facebook.com/DesarrolloUy" target="_blank" alt="Perfil Facebook">Facebook</a>
				<a class="aside_social_link" href="mailto:hostsuarezpablo@gmail.com" alt="Cuenta correo">hostsuarezpablo@gmail.com</a>
			</div>
		</aside>
	</div>
</div>
 -->