/*
* GITHUB
*/
.list
	border border_comun
	border-color nav_bgc
	border-radius border_radius
	margin-bottom margen_medio
	&_item
		&_head
			padding margen_medio
			&_title
				font-size 1.5rem
				text-transform capitalize
			&_page
				&_link
					text-decoration none
					color nav_color_border
		&_body
			padding margen_chico margen_medio margen_chico margen_medio
			background-color gris
			color blanco
			&_demo
				margin margen_chico 0 0 0
				& a
					color content_color_link
		&_date
			color nav_color_border
			align-self flex-end
			font-size .8rem