/*
* HEAD
*/

var_animation_duration = 2s

/* * Variables */
font_size_title = 4rem
font_size_items = 1.5rem
font_size_small_items = .9rem

margin_item = 1rem

background_color = rgba(6, 21, 29, .9)

color_small_items = #E6E1E1
/* FIN * */


.actions
	color blanco
	font-size font_size_items
	position fixed
	z-index 100
	display inline-flex
	& .link
		color @color
	&_main
		width 0px
		height 100vh
		background-color background_color
		overflow hidden
		& .title
			margin 0 0 2rem 0
			font-size font_size_title
			position relative
			&:hover
				opacity .5
		&-show
			padding 2rem 6rem 1.5rem 1.5rem
			width auto
			animation-name left-in
			animation-duration var_animation_duration
		&-hide
			opacity .1
			width 0px
			animation-name left-in
			animation-duration var_animation_duration

.menu
	margin 1rem 0 2rem
	&_item
		border-bottom 2px solid #fff
		color @color
		margin 1rem 0
		padding 0 6rem 0 0
		position relative
		&:hover
			opacity .3
	&_icon
		padding 1.5rem
		font-size 4rem
		position fixed
		background-color rgba(6, 21, 29, .9)
		&:hover
			opacity .3

.contact
	margin 1rem 0 2rem 0
	&_item
		color color_small_items
		font-size font_size_small_items
		margin .6rem 0
		position relative
		&:hover
			opacity .3




/* * ANIMACIONES  */
@keyframes left-in
	0%
		opacity .1
		left -200px
	50%
		opacity .5
	100%
		left 0px

/* FIN * */
