@import "./../normalize.css";
@import "nib"

@import "variables"
@import "menu"
@import "banner"
@import "github"

html
	background-color html_bgc
	font-size 13px
	font-family verdana !important

// @media (min-width: 0px) and (max-width:mobile)
// 	html
// 		font-size: 9px
// @media (min-width: mobile+1) and (max-width:tablet)
// 	html
// 		font-size: 11px




/*
 * definicion de LIENZO
 */
.lienzo
	width: 90vw
	margin: 0 auto
	overflow: hidden
	@media (min-width: 0px) and (max-width:mobile)
		&
			width: 98vw
	@media (min-width: mobile+1) and (max-width:tablet)
		&
			width: 90vw


/*
 * FLEX
 */
.flex_container
	display: flex
	justify-content: space-around
	@media (min-width: 0px) and (max-width:tablet_medio_inferior)
		&
			flex-direction: column
	&-flex-start
		justify-content: flex-start
	&-flex-center
		justify-content: center
	&-flex-space-between
		justify-content: space-between
	&-flex-direction-row
		flex-direction: row
	&-flex-direction-column
		flex-direction: column
	&-flex-wrap
		flex-wrap: wrap







/*
* genéricos
*/
.img_center
	display block
	margin 0 auto
	max-width 100%

.link
	text-decoration none
	&-white
		color: white
ul
	margin 0
	padding 0
	list-style none

li
	margin 0
	padding 0

.no_style_link
	text-decoration: none

.hidden
	display: none

.mobile_only, .tablet_only
	display: none
@media (min-width: 0px) and (max-width:mobile)
	.mobile_only
		display: block
	.mobile_no
		display: none

.desktop_only
	display none
	@media (min-width: tablet+1)
		&
			display block

.desktop_no
	display block
	@media (min-width: tablet+1)
		&
			display none

.clickable
	cursor pointer

.section_content
	margin: 0 margen_medio
	background-color: content_color_background
	padding: 0 margen_medio 0 margen_medio
	color: #90a0b0
	border: border_radius
	border-top-left-radius: border_radius_conteiner
	border-top-right-radius: border_radius_conteiner
	& header
		color: content_color_title
	& h3
		color black
	&-github
		background-color white
		& h2
			color nav_bgc

.left
	text-align left
.right
	text-align right
.center
	text-align center

.item
	text-transform capitalize
	margin 1.5rem 0
