@import "./../normalize.css";
@import "nib"

borde_gris = #ccc
borde_gris_claro = #eee
blanco = #fff
gris = nav_bgc

// vars de colores
html_bgc = #082A41

nav_bgc = #4FA8F8
nav_color = #fff
nav_color_border = #8BCAFF

aside_color_border = #0E9BFF

content_color_background = #3296DE
content_color_title = #A8A8A8
content_color_content = #BCDDFA
content_color_link = #FFB74B

borde_lista = #7CA4E7

// medidas

margen = 2%
margen_nav = 1%
margen_lista = 2%
margen_medio = 1vw
margen_chico = .2vw

border_radius = 4px
border_radius_conteiner = 8px
border_comun = 1px solid aside_color_border

mobile = 420px
tablet = 1050px
tablet_medio_inferior = 800px

html
	background-color: html_bgc
	font-size: 13px
	font-family: verdana !important

@media (min-width: 0px) and (max-width:mobile)
	html
		font-size: 9px
@media (min-width: mobile+1) and (max-width:tablet)
	html
		font-size: 11px




/*
 * definicion de LIENZO
 */
.lienzo
	width: 90vw
	margin: 0 auto
	overflow: hidden
	@media (min-width: 0px) and (max-width:mobile)
		&
			width: 98vw
	@media (min-width: mobile+1) and (max-width:tablet)
		&
			width: 90vw




/*
 * FLEX
 */
.flex_container
	display: flex
	justify-content: space-around
	@media (min-width: 0px) and (max-width:tablet_medio_inferior)
		&
			flex-direction: column
	&-flex-start
		justify-content: flex-start
	&-flex-center
		justify-content: center
	&-flex-space-between
		justify-content: space-between
	&-flex-direction-row
		flex-direction: row
	&-flex-direction-column
		flex-direction: column
	&-flex-wrap
		flex-wrap: wrap




/*
* HEAD
*/
.actions
	background-color: nav_bgc

.menu
	list-style: none
	margin: 0
	padding: 0
	color: nav_color
	justify-content: space-around
	flex-direction: row
	@media (min-width: mobile+1) and (max-width:tablet)
		&
			display: flex !important
		&_mobile
			display: none !important
	@media (min-width: tablet+1)
		&
			display: flex !important
		&_mobile
			display: none !important

	&.active
		background-color: nav_color
		color: nav_bgc
	@media (min-width: 0px) and (max-width:mobile)
		&
			flex-direction: column
			align-items: flex-start
			font-size: 1.5rem
			margin: 0 -2% 0 -2%
	@media (min-width: mobile+1) and (max-width:tablet)
		&
			display: flex
	&_item
		padding: margen_nav
		text-transform: uppercase
		&:hover
			color: #A2D9FF
			transform: scaleX(1.01)
		&-left
			text-align: start !important
			padding: 1rem 0 1rem 4% !important
		@media (min-width: 0px) and (max-width:mobile)
			&
				font-weight: bold
				margin: 0
				padding: 1rem 0 1rem 0
				border-bottom: solid 1px
				border-top: 0
				text-align: center
			&:hover
				background-color: nav_color
				color: nav_bgc




/*
 * PERFIL
 */
 margen_aside =  margen_medio margen_medio margen_medio 0
.aside
	text-align: center
	margin: margen*2 margen_medio
	&_title
		color: nav_color
	&_img_profile
		border-radius: border_radius_conteiner
		max-width: 100%
	&_border
		margin: margen_aside
		border-top: 1px solid aside_color_border
	&_username
		margin: margen_aside
	&_social_link
		margin: margen_aside
		text-decoration: none
		color: nav_color
	@media (min-width: 0px) and (max-width:mobile)
		&_info
			margin: margen_medio 0 margen_medio 0
			padding: 0 margen_medio 0 margen_medio
			display: flex
			flex-direction: row
			justify-content: space-around
			background-color: nav_bgc
			border: border_comun
			border-radius: border_radius




/*
* GITHUB
*/
.list
	border: border_comun
	border-color: nav_bgc
	border-radius: border_radius
	margin-bottom: margen_medio
	&_item
		&_head
			padding: margen_medio
			&_title
				font-size: 1.5rem
				text-transform: capitalize
			&_page
				&_link
					text-decoration none
					color: nav_color_border
		&_body
			padding: margen_chico margen_medio margen_chico margen_medio
			background-color: gris
			color blanco
			&_demo
				margin: margen_chico 0 0 0
				& a
					color: content_color_link
		&_date
			color: nav_color_border
			align-self: flex-end
			font-size: .8rem




/*
* PRESENTATION
*/
.presentation
	margin 0
	background-color blanco
	width 100%
	&_title h1
		color nav_bgc
		font-size 4rem
		margin 0 margen_chico
		text-align center




/*
* RESPONSIVE
*/
@keyframes slidy
	0%
		left: 100%
	5%
		left: 0%
	40%
		left: 0%
	50%
		left: -50%
	98%
		left: -50%
	99.9%
		left: -100%
	100%
		left: -100%

.slider
	margin: 0
	width: 200%
	display: flex
	&_item
		width: 100%
		margin 0 auto
		position: relative
		text-align: left
		animation: 10s slidy infinite
	&_text
		text-align: center
		font-family: calibri
		color blanco
		font-size: 1.5rem

.responsive
	&_title
		& h2
			margin margen 0 0 20%
			font-size 3rem
			color content_color_content
		& h4
			font-size 1.5rem
			margin 0 0 1% 30%
			color content_color_content




/*
* genéricos
*/
.img_center
	display block
	margin 0 auto
	max-width 100%

.link
	text-decoration none
	color white

ul
	margin: 0
	padding: 0
	list-style: none

li
	margin: 0
	padding: 0

.no_style_link
	text-decoration: none

.hidden
	display: none

.mobile_only, .tablet_only
	display: none
@media (min-width: 0px) and (max-width:mobile)
	.mobile_only
		display: block
	.mobile_no
		display: none

.desktop_only
	display none
	@media (min-width: tablet+1)
		&
			display block

.desktop_no
	display block
	@media (min-width: tablet+1)
		&
			display none

.clickable
	cursor: pointer

.section_content
	margin: margen_medio
	background-color: content_color_background
	padding: 0 margen_medio 0 margen_medio
	color: #90a0b0 //content_color_content
	border: border_radius
	border-top-left-radius: border_radius_conteiner
	border-top-right-radius: border_radius_conteiner
	& header
		color: content_color_title
	& h3
		color black
	&-github
		background-color white
		& h2
			color nav_bgc

.map
	&.lienzo
		@media (min-width: tablet+1)
			&
				width: 60vw
	&_main
		height: 300px
		padding: 0 0 1% 0
		position: static
		@media (min-width: tablet_medio_inferior +1) and (max-width: tablet)
			&
				max-width: 55vw
		@media (min-width: mobile +1) and (max-width: tablet_medio_inferior)
			&
				max-width: 86vw
		@media (min-width: 0) and (max-width: mobile)
			&
				max-width: 94vw
	&_container
		height: 100%

.view_map
	text-decoration: underline

.left
	text-align left
.right
	text-align right
.center
	text-align center







/* 
* banner
*/
.banner
	position relative
	width 100%
	overflow auto
	font-size 18px
	line-height 24px
	text-align center
	color rgba(255,255,255,.9)
	text-shadow 2px 2px 3px rgba(0,0,0,1)
	box-shadow 0 1px 2px rgba(0,0,0,.25)
	& p
		font-size 1.6rem
		text-shadow 2px 1px 1px #0A4A82
	& ul
		list-style none
		width 100%
		& li
			background-size cover
			background-position center
			display block
			float left
			width 33%
			height 100vh
			box-shadow inset 0 -3px 6px rgba(0,0,0,.1)
	& .inner
		padding 160px 0 110px
	& h1
		margin 10vh 0 0 0
		font-size 3.5rem
		line-height 52px
		color rgba(227,242,255,1)
		text-shadow 0 .4px 0 #2995F4,
					0 1px 0 #7DC3FF,
					0 2px 0 #44A4F9,
					0 3px 0 #2995F4
		@media (min-width: tablet_medio_inferior +1) and (max-width: tablet)
			&
				font-size 5rem
		@media (min-width: mobile +1) and (max-width: tablet_medio_inferior)
			&
				font-size 3.3rem
		@media (min-width: 0) and (max-width: mobile)
			&
				font-size 3rem
	& h2
		font-size 2rem
		line-height 52px
		color #fff
	& .btn
		display inline-block
		margin 25px 0 0
		padding 9px 22px 7px
		clear both
		color #fff
		font-size 12px
		font-weight bold
		text-transform uppercase
		text-decoration none
		border 2px solid rgba(255,255,255,.4)
		border-radius 5px
		background-color rgba(156,203,255,.4)
	& .btn:hover
		background rgba(255,255,255,.05)
	& .dots 
		position absolute
		right 0
		bottom 20px
		width 100%
		& li
			display inline-block
			width 4px
			height 4px
			line-height 10px
			margin 0 4px
			text-indent -999em
			border 2px solid #fff
			cursor pointer
			opacity .3
			transition background .5s, opacity .5s
			&.active
				background #fff
				opacity .9
